
.myheader {
  text-align: center;
  color: white;
}
div{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:rgb(24, 71, 117);
  /*height: 100px;*/
}

.item2 {
  background-color:rgb(253, 191, 4);
  /*height: 100px;*/
}

.item3 {
  background-color:rgb(199, 241, 11);
  /*height: 100px;*/
}
